<tr>
    <td>
        <a class="waves-effect waves-green btn-flat tooltipped" data-tooltip="Click to copy" onClick="copy('{{ app.url }}/{{ link.short_url }}')" style="text-transform: unset;">
            {{ app.url }}/{{ link.short_url }}
        </a>
    </td>

    <td>
        <a class="waves-effect waves-green btn-flat tooltipped truncate" data-tooltip="Click to copy" onClick="copy('{{ link.long_url }}')" style="text-transform: unset; max-width: 30rem">
            {{ link.long_url }}
        </a>
    </td>

    <td>{{ link.clicks }}</td>

    <td>{{ link.created_at }}</td>

    <td>
        {% if can_edit %}
            <button class="col s4 btn waves-effect waves-light blue accent-4" onClick="editLink('{{ link.id}}')" style="margin-right: 7px">
                <i class="material-icons">create</i>
            </button>
        {% endif %}
        
        <button class="col {{ can_edit ? 's4' : 's12' }} btn waves-effect waves-light red accent-4" onClick="deleteLink('{{ link.id}}')">
            <i class="material-icons">delete</i>
        </button>
    </td>
</tr>
