{% extends "partials/base.twig" %}
{% set title = "Link" %}
{% set navbarDisable = true %}
{% set page_script = "/assets/js/link.js" %}

{% block content %}
<div class="row">
    <div class="col s12 m8 offset-m2 l4 offset-l4">
        <div class="card">
            <div class="card-action blue accent-4 white-text">
                <h3>URL Shortener</h3>
            </div>
            <div class="card-content center-align">
                {% if error %}
                    <p class="flow-text">
                        {{ error }}
                    </p>
                {% endif %}

                {% if option == 'qr' %}
                    <p class="flow-text">
                        {{ long_url }}
                    </p>
                    
                    <br /><br />
                    
                    <img class="responsive-img" src="https://api.qrserver.com/v1/create-qr-code/?size=250x250&data={{ short_url }}" />
                {% endif %}

                {% if option == 'confirm' %}
                    <p class="flow-text">
                        You will be redirected to: <span>{{ long_url }}</span>
                    </p>

                    <br />
                    
                    <div class="row">
                        <a href="#" onClick="window.history.back()" class="col s12 m5 btn waves-effect waves-light red accent-4">Cancel</a>
                        <div class="col m2"></div>
                        <a href="{{ long_url }}" class="col s12 m5 btn waves-effect waves-light blue accent-4">Confirm</a>
                    </div>
                {% endif %}

                {% if option == 'password' %}
                    <form id="password">
                        <input type="hidden" name="state" value="{{ state }}">

                        <div class="row mb-0">
                            <div class="input-field col s12 mb-0">
                                <input id="passwordField" type="password" name="password" class="validate" required autofocus>
                                <label for="passwordField">Password</label>
                            </div>
                        </div>

                        <div class="row mb-0">
                            <div class="input-field col s12 mb-0">
                                <button
                                    type="button"
                                    onClick="passwordSubmit()"
                                    class="full-width waves-effect waves-light btn-large blue accent-4"
                                >
                                    Submit
                                </button>
                            </div>
                        </div>
                    </form>
                {% endif %}

                {% if option == 'ratelimit' %}
                    <form id="ratelimit">
                        <input type="hidden" name="state" value="{{ state }}">
                        <input type="hidden" name="fingerprint" value="{{ fingerprint }}">
                        <input type="hidden" name="original_option" value="{{ original_option }}">
                        <div
                            class="h-captcha"
                            data-sitekey="{{ site_key }}"
                            data-callback="ratelimitSubmit"
                        ></div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script src="https://hcaptcha.com/1/api.js" async defer></script>
{% endblock %}
